<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Rechercher..."{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

        {{#with page.attributes.about}}
        <a class="navbar-item" href="#">{{{this}}}</a>
        {{/with}}

        <div class="navbar-item has-dropdown is-hoverable">
          {{#with page.attributes.products}}
          <a class="navbar-link" href="#">{{{this}}}</a>
          {{/with}}
          <div class="navbar-dropdown">

            {{#with page.attributes.product}}
            <a class="navbar-item" href="#">{{{this}}} A</a>
            <a class="navbar-item" href="#">{{{this}}} B</a>
            <a class="navbar-item" href="#">{{{this}}} C</a>
            {{/with}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          {{#with page.attributes.services}}
          <a class="navbar-link" href="#">{{{this}}}</a>
          {{/with}}
          <div class="navbar-dropdown">
            {{#with page.attributes.service}}
            <a class="navbar-item" href="#">{{{this}}} A</a>
            <a class="navbar-item" href="#">{{{this}}} B</a>
            <a class="navbar-item" href="#">{{{this}}} C</a>
            {{/with}}
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            {{#with page.attributes.download}}
            <a class="button is-primary" href="#">{{this}}</a>
            {{/with}}
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
